<md-sidenav-container>

  <md-sidenav class="quickpanel" [opened]="quickpanelOpen" align="end" mode="over" #quickpanel>

    <ms-quickpanel></ms-quickpanel>

  </md-sidenav>

  <md-sidenav class="sidenav" [opened]="sidenavOpen" align="start" [mode]="sidenavMode" msIconSidenav #sidenav>

    <ms-sidenav></ms-sidenav>

  </md-sidenav>

  <ms-toolbar [quickpanel]="quickpanel" [sidenav]="sidenav"></ms-toolbar>

  <div class="main-container" #scrollContainer>
    <router-outlet (activate)="onActivate($event, scrollContainer)"></router-outlet>
  </div>

</md-sidenav-container>
