<div fxLayout="row" fxLayoutAlign="center center" style="height: 100%;">
  <div class="register mat-elevation-z12">
    <div class="register-header" fxLayout="column" fxLayoutAlign="center center">
      <img src="assets/img/icon.png">
    </div>
    <form #form="ngForm" (ngSubmit)="register()">
      <div class="register-content" fxLayout="column" fxLayoutAlign="start stretch">
        <md-input-container>
          <input mdInput placeholder="Username" type="text" name="username" required [(ngModel)]="model.username" (click)=clearStatus()>
        </md-input-container>
        <md-input-container>
          <input mdInput placeholder="E-Mail" type="text" name="email" required [(ngModel)]="model.email" (click)=clearStatus()>
        </md-input-container>
        <md-input-container>
          <input mdInput placeholder="Password" type="password" name="password" required [(ngModel)]="model.password" (click)=clearStatus()>
        </md-input-container>
        <md-input-container>
          <input mdInput placeholder="Confirm password" type="password" name="password-confirm" required [(ngModel)]="passwordConfirm" (click)=clearStatus()>
        </md-input-container>
        <div class="extra-options" fxLayout="row" fxLayoutAlign="center center">
          <md-checkbox class="accept" name="tc" required #tc="ngModel" [(ngModel)]="checked">
            I accept the <a (click)=openSnackBar()>terms and conditions.</a>
          </md-checkbox>
        </div>
        <button color="primary" md-raised-button [disabled]="form.invalid || tc.invalid">CREATE ACCOUNT</button>
        <p class="note">Already have an account?<br/> <a [routerLink]="['/login']">Sign in here</a></p>
        <div *ngIf="form.valid" [ngStyle]="{'height': statusHeight}">
          <div class="notice" [ngStyle]="{'color': statusColor}">
            <md-icon>{{ statusIcon }}</md-icon>
            <span class="aligned-with-icon">{{ statusText }}</span>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
